*{
    margin: 0;
    padding: 0;
}
.table_wrapper{
    width: 90%;
    margin: 0 auto;
    background-color:pink;
    padding: 100px 50px 50px 50px;
}
.input_wrapper{
    position: relative;
    width: 140px;
    height: 60px;
}
.ipt{
    margin: 0 20px;
    width: 100px;

}
